User Show Page

<% if current_user == @user %>
  <%= link_to "Edit Profile", edit_user_path(@user), method: :get %>
<% end %>

<div><%= image_tag(@user.avatar_url(:thumb).to_s) %></div>
<%= @user.first_name %>

<h3>Trash Talk: <%= @user.trash_talk %></h3>

<h2>Record</h2>

<h2>Picks Last Week</h2>

