User Show Page

<% if current_user == @user %>
  <%= link_to "Edit Profile", edit_user_path(@user), method: :get %>
<% end %>

<div>PUT PHOTO HERE</div>
<%= @user.first_name %>

<h2>Record</h2>

<h2>Picks Last Week</h2>

